@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Times New Roman', Times, serif;
    background-color: #e8e4c9 ;
}


.home {
    width: 85%;
    display: flex;
    align-items: center;
    margin: auto;
}

.image img {
    margin-top: 100px;
    width: 70%;
    height: 70%;
    margin-right: 150px;
}

.image, .desc {
    flex-basis: 50%;
}

.desc {
    margin-top: 100px;
    margin-left: 10px;
}

.desc h2 {
    font-family: "New Amsterdam", sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    line-height: 0.9;
    text-shadow: 2px 2px 5px #020D19;
}

.desc p {
    margin-top: -50px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}

.image {
    margin: 10px;
}

.image img {
    margin-left: 160px;
}
